<table class="table table-bordered table-hover">
    <thead class="table-light">
        <tr>
            <th>Facility</th>
            <th>Registration No.</th>
            <th>Front Plate Serial</th>
            <th>Rear Plate Serial</th>
            <th>Front Tracker</th>
            <th>Rear Tracker</th>
            <th>GPS Tracker</th>
            <th>Status</th>
            <th>Added by</th>
            <th>Added Date</th>
            <th>Verified by</th>
            <th>Verified Date</th>
        </tr>
    </thead>
    <tbody>
        <tr>
            <td>Central Warehouse MAIN</td>
            <td><a href="#">UA875BP</a></td>
            <td>000626092</td>
            <td>000626093</td>
            <td>8ADC470945F3</td>
            <td>8ADC4709E9F2</td>
            <td>8BAE4704F7FA</td>
            <td>Used</td>
            <td>Wallen Gumisiriza</td>
            <td>21.02.2026 09:58</td>
            <td>Ben Olebo</td>
            <td>24.04.2026 06:25</td>
        </tr>
    </tbody>
</table>